
@font-face {
    font-family: 'jaslinsfontmedium';
    src: url('/fonts/jaslinsfont-webfont.eot');
    src: url('/fonts/jaslinsfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/jaslinsfont-webfont.woff') format('woff'),
         url('/fonts/jaslinsfont-webfont.ttf') format('truetype'),
         url('/fonts/jaslinsfont-webfont.svg#jaslinsfontmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
