<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="atom feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/voxbloom.min.css" rel="stylesheet" media="screen">

</head>
<body>
    <div class="container">

        <!-- Header -->
        <div class="row">
            <div class="span10 offset1">
                <img class="media object" data-src="holder.js/780x120">
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            <div class="span2 offset1">
                <img class="media-object" data-src="holder.js/140x900">
            </div>

            <div class="span6">
                {{ content }}
            </div>

            <div class="span2">
                <img class="media-object" data-src="holder.js/140x900">
            </div>
        </div>

        <!-- Footer -->
        <div class="row text-center">
            <div class="span10 offset1">
                Made by <a href="http://sunsetspark.org">Sunset Spark</a>
            </div>
        </div>

    </div>

    <!-- Load JS -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34228211-1']);
      _gaq.push(['_setDomainName', 'voxbloom.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.js"></script>
</body>
</html>
