<!DOCTYPE html>

<head>
    <title>{% if page.title %} {{ page.title }} | {% endif %}Vox Bloom</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Atom Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/voxbloom.css" rel="stylesheet" media="screen">

    {% if page.twitter_card %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_id }}">
    <meta name="twitter:creator" content="@{{ site.twitter_id }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.summary }}">
    <meta name="twitter:image" content="{{ site.url | append: site.baseurl | append:'img/portraits/' | append:page.vb_id | append:'-portrait.jpg'}}">
    {% endif %}
</head>
<body>
    <div class="container">

        <!-- Header -->
        <div class="row">
            <div class="span10">
                <a href="{{ site.baseurl }}"><img class="media object" src="/img/voxbloom-header.png"></a>
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            <div id="content" class="span10">
                <div class="offset-custom span5">
                    {{ content }}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer">
            <div class="row text-center">
                <div class="span10">
                    <span>A <a href="http://sunsetspark.org">Sunset Spark</a> Project.</span>
                    <span>Want to be interviewed? <a href="mailto:voxbloom@sunsetspark.org">Contact</a> Us.</span>
                </div>
            </div>
            <div class="row text-center">
                <div class="span10">
                    <span>Interview <a href="/atom.xml">Feed</a>.</span>&nbsp;&nbsp;
                    <span>Copyright Sunset Spark, all rights reserved.</span>
                </div>
            </div>
            <br>
        </div>

    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-2.0.0.min.js">\x3C/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
